{% extends 'layouts/connected.html.twig' %}

{% block title %}Mes clients{% endblock %}

{% block body %}

    <section class="w-4/5 min-h-screen">
        <header class="bg-gray-800 text-white p-3 flex content-between">
            <h2 class="text-xl tracking-wide text-gray-400 w-8/12">Mes missions</h2>

            <form action="" class="w-4/12">
                <input type="search" placeholder="Rechercher ici" class="bg-gray-600 placeholder-white rounded-md p-1 rounded-r-none h-8"/>
                <button type="submit" class="border-2 border-gray-600 px-3 h-8 rounded-md -ml-1 rounded-l-none hover:bg-gray-600 "><i class="fas fa-search"></i></button>
            </form>
        </header>

        <div class="flex content-between px-5 pt-20">
            <h2 class="block w-4/5 font-black text-4xl text-gray-400">Mes missions</h2>
            <a class="block w-1/5 bg-green-500 hover:bg-green-400 text-white p-1 rounded text-lg text-center" href="{{ path('app_mission_create') }}">Créer une mission</a>
        </div>
        <div class="mx-auto px-5 pt-20">
            {% for mission in missions %}
                {% if mission.customer.owner == app.user.owner %}
                    <a href="{{ path('app_mission_show', {'id': mission.id}) }}" class="block mb-5 bg-white border-2 border-gray-200 shadow-md ronded-md p-5">
                <div class="">
                    <h4 class="inline-block text-xl text-gray-500">{{ mission.title }}</h4>
                    <form class="inline-block float-right" method="post" action="{{ path('app_mission_update_status', {'id': mission.id }) }}">
                        <select onchange="visibleSubmit('submit-{{ mission.id }}')" name="missionStatus-{{ mission.id }}" class="p-1 text-sm rounded-md" style="background-color: {{ mission.missionStatus.backgroundColor }}; color: {{ mission.missionStatus.fontColor }}">
                            <option class="p-1 text-sm rounded-md" style="background-color: {{ mission.missionStatus.backgroundColor }}; color: {{ mission.missionStatus.fontColor }}" value="{{ mission.missionStatus.status }}">{{ mission.missionStatus.status }}</option>
                            {% for missionStatus in missionStatuses %}
                                <option class="p-1 text-sm rounded-md" value="{{ missionStatus.status }}">{{ missionStatus.status }}</option>
                            {% endfor %}
                        </select>
                        <input type="hidden" name="token" value="{{ csrf_token('some-name') }}">
                        <button id="submit-{{ mission.id }}" class="hidden bg-gray-700 text-white px-2 -ml-1 rounded-md hover:bg-gray-600" type="submit"><i class="fas fa-check"></i></button>
                    </form>

                    <p>{{ mission.details }}</p>

                    <div class="mt-3 grid grid-cols-3">
                        <span><em class="text-sm">Début le :</em> {{ mission.insertDate|date("d-m-Y") }}</span>
                        <span><em class="text-sm">Fin prévue le :</em> {{ mission.endDate|date("d-m-Y") }}</span>
                        <span><em class="text-sm">Durée de travail actuel :</em> {{ mission.workDuration }} Heure(s)</span>
                    </div>
                </div>
                <div class="text-gray-500 mt-5 border-t-2">
                    <h5 class="font-bold text-lg">Client</h5>
                    <div class="grid grid-cols-3">
                        <span class="font-bold">{{ mission.customer.firstname }} {{ mission.customer.lastname }}</span>
                        <span><em class="text-sm">Téléphone :</em> 0{{ mission.customer.phone }}</span>
                        <span><em class="text-sm">E-mail :</em> {{ mission.customer.email }}</span>
                    </div>
                </div>
                <div class="text-gray-500 mt-5 border-t-2">
                    <h5 class="font-bold text-lg">Facturation</h5>
                    <div class="grid grid-cols-4">
                        <span><em class="text-sm">Taux :</em> {{ mission.rate|number_format(2, ',', ' ') }}€ / {{ mission.rateReccurency }}</span>
                        <span><em class="text-sm">Facturation :</em> {{ mission.invoiceRecurency }}</span>
                        <span><em class="text-sm">Prochaine échéance :</em> {{ mission.invoiceDeadlineDate|date("d-m-Y") }}</span>
                        <span><em class="text-sm">Précédente échéance :</em> {{ mission.invoiceLastDade|date("d-m-Y") }}</span>
                    </div>
                </div>
            </a>
                {% endif %}
            {% else %}
                <div class="bg-white border-2 border-gray-200 shadow-md ronded-md p-5 text-center">
                    <h2 class="font-black text-2xl text-gray-400">Vous n'avez pas de mission</h2>
                </div>
            {% endfor %}
        </div>
    </section>

    <script>
        function visibleSubmit(id) {
            let submit = document.getElementById(id);

            submit.classList.remove('hidden');
        }
    </script>
{% endblock %}
