{% extends 'layouts/connected.html.twig' %}

{% block title %}Mes clients{% endblock %}

{% block body %}

    <section class="w-4/5 min-h-screen">
        <header class="bg-gray-800 text-white p-3 flex content-between">
            <h2 class="text-xl tracking-wide text-gray-400 w-8/12">Mes missions > {{ mission.title }}</h2>

            <form action="" class="w-4/12">
                <input type="search" placeholder="Rechercher ici" class="bg-gray-600 placeholder-white rounded-md p-1 rounded-r-none h-8">
                <button type="submit" class="border-2 border-gray-600 px-3 h-8 rounded-md -ml-1 rounded-l-none hover:bg-gray-600 "><i class="fas fa-search"></i></button>
            </form>
        </header>

        <div class="flex content-between px-5 pt-20">
            <h2 class="block w-4/5 font-black text-4xl text-gray-400">{{ mission.title }}</h2>
            <a class="block w-1/5 bg-gray-700 hover:bg-gray-600 text-white p-1 rounded text-lg text-center" href="{{ path('app_mission') }}">Retour</a>
        </div>
        <div class="mx-auto px-5 pt-20">
            <div class="bg-white border-2 border-gray-200 shadow-md ronded-md p-5">
                <div class="flex justify-between">
                    <h3 class="text-2xl font-semibold text-green-500">
                        {{ mission.title }}
                    </h3>
                    <div>
                        <a href="{{ path('app_mission_update', {'id': mission.id}) }}" class="text-yellow-500 hover:text-yellow-400"><i class="fas fa-pencil-alt"></i> Editer</a>
                        <button onclick="customerDelete({{ mission.id }})" class="ml-4 border-2 border-red-500 text-red-500 px-3 py-2 hover:bg-red-500 hover:text-white rounded-md"><i class="fas fa-user-times"></i> Supprimer</button>
                    </div>
                </div>
            </div>

            <div class="mt-5 bg-white border-2 border-gray-200 shadow-md ronded-md p-5">
                <h3 class="text-2xl font-semibold text-green-500">Client(s)</h3>

                <div class="mt-10 text-center">
                    <h4 class="text-2xl font-semibold text-gray-400 mb-4">Pas de client saisie</h4>
                    <a href="" class="text-green-500 border-2 border-green-500 rounded-md px-4 py-2 hover:bg-green-500 hover:text-white hover:shadow-md">Créer une mission</a>
                </div>
            </div>

            <div class="mt-5 bg-white border-2 border-gray-200 shadow-md ronded-md p-5 mb-10">
                <h3 class="text-2xl font-semibold text-green-500">Tâches</h3>

                <div class="mt-10 text-center">
                    <h4 class="text-2xl font-semibold text-gray-400 mb-4">Pas de tâches saisie</h4>
                    <a href="" class="text-green-500 border-2 border-green-500 rounded-md px-4 py-2 hover:bg-green-500 hover:text-white hover:shadow-md">Ajouter un RIB</a>
                </div>
            </div>

            <div class="mt-5 bg-white border-2 border-gray-200 shadow-md ronded-md p-5">
                <h3 class="text-2xl font-semibold text-green-500">Facture(s)</h3>

                <div class="mt-10 text-center">
                    <h4 class="text-2xl font-semibold text-gray-400 mb-4">Pas de facture saisie</h4>
                    <a href="" class="text-green-500 border-2 border-green-500 rounded-md px-4 py-2 hover:bg-green-500 hover:text-white hover:shadow-md">Créer une facture</a>
                </div>
            </div>
        </div>
    </section>

    <script>
        function missionDelete(id) {
            if(confirm('Souhaitez-vous vraiment supprimer ce client ?')) {
                document.location.href = '/missions/delete/' + id;
            }
        }
    </script>
{% endblock %}
